<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
<div align="center">
<h2 style="color: navy; font-family: 'Segoe UI Light'">İcazənin statusu</h2>
</div>
<div class="container">
    <a type="button" class="btn btn btn-primary"
       style="background: green; border-color: inherit"
       id="step1"></a><i class="fas fa-angle-double-right"></i></a>
    <a type="button" class="btn btn btn-primary"
       style="background: green; border-color: inherit"
       id="step2"></a><i class="fas fa-angle-double-right"></i></a>
    <a type="button" class="btn btn btn-primary"
       style="background: green; border-color: inherit"
       id="step3"></a><i class="fas fa-angle-double-right"></i></a>
    <a type="button" class="btn btn btn-primary"
       style="background: green; border-color: inherit"
       id="step4"></a><i class="fas fa-angle-double-right"></i></a>
</div>
</body>
</html>